# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# Gradle
.gradle/
.gradle_repo/

# IntelliJ IDEA
.idea/

# Runtime files
runtime/

# First run lock file
.first_run_lock

# Dev
.gemini/
.claude/
.opencode/
.trae/
.cursor/
.vscode/

/1.双击构建环境.bat
/2.双击启动游戏.bat
/3.双击打包模组.bat
/1.双击构建环境.exe
/2.双击启动游戏.exe
/3.双击打包模组.exe
